In [1]:
import pandas as pd
import pickle
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.naive_bayes import MultinomialNB
import string 

import pickle
from nltk.corpus import words
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
import re

In [2]:
df=pd.read_csv('spam.csv',encoding="latin-1")

In [3]:
df.drop(['Unnamed: 2','Unnamed: 3','Unnamed: 4'],inplace=True,axis=1)

In [4]:
df.shape

(5572, 2)

In [5]:
df.tail()

     class                                            message
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham              Will Ì_ b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

In [67]:
#dataset = dataset.sample(frac=1).reset_index(drop=True)

In [68]:
#dataset.tail()

In [69]:
#dataset.groupby('v1').describe()

In [6]:
df['class']=df['class'].map({'ham':0,'spam':1})

In [7]:
df.head()

   class                                            message
0      0  Go until jurong point, crazy.. Available only ...
1      0                      Ok lar... Joking wif u oni...
2      1  Free entry in 2 a wkly comp to win FA Cup fina...
3      0  U dun say so early hor... U c already then say...
4      0  Nah I don't think he goes to usf, he lives aro...

In [9]:
X=df['message']
y=df['class']

In [10]:
cv=CountVectorizer()
X=cv.fit_transform(X)

In [11]:
pickle.dump(cv,open('transform.pkl','wb'))

In [12]:
from sklearn.model_selection import train_test_split as TTS

X_train,X_test,y_train,y_test=TTS(X,y,test_size=0.5)

In [21]:
clf=MultinomialNB(alpha=i)
clf.fit(X_train,y_train)
x=clf.score(X_test,y_test)
type(x)

numpy.float64

In [34]:
#naive bayes



for i in [0.0001,0.001,0.01,0.1,1,1.2,1.3]:
    clf=MultinomialNB(alpha=i)
    clf.fit(X_train,y_train)
    x=clf.score(X_test,y_test)
    print('For learning rate:'+str(i)+'         we get score          '+str(x))
    

clf=MultinomialNB(alpha=1)
clf.fit(X,y)    #training on whole dataset

For learning rate:0.0001         we get score          0.9748743718592965
For learning rate:0.001         we get score          0.9748743718592965
For learning rate:0.01         we get score          0.9773869346733668
For learning rate:0.1         we get score          0.9763101220387652
For learning rate:1         we get score          0.9834888729361091
For learning rate:1.2         we get score          0.9824120603015075
For learning rate:1.3         we get score          0.9816941852117731

MultinomialNB(alpha=1)

In [35]:
pickle.dump(cv,open('nlp_model.pkl','wb'))

In [42]:
data1="Hey there yo, I saw a live red-handed briber"
data2="Hey you won a voucher of Rs 10000. Send your credit card number and claim it"

In [46]:
#testing
sent1=data1
sent2=data2
vect1=[sent1]
vect2=[sent2]
vect1=cv.transform(vect1).toarray()
vect2=cv.transform(vect2).toarray()
pred1=clf.predict(vect1)
pred2=clf.predict(vect2)
print(pred1)
print(pred2)

[0]
[1]